---
import currently from '../data/currently.json';
import CurrentlyCard from '../components/CurrentlyCard.astro';

type CurrentlyOptions = 'watching' | 'listening' | 'drinking' | 'playing' | 'reading';

const unshuffled: number[] = [];
const currentlyKeys = Object.keys(currently);

// Pick 3 random categories to display
currentlyKeys.forEach((_, index) => {
  unshuffled.push(index);
});
let shuffled = unshuffled
  .map((value) => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value);

const one = currently[currentlyKeys[shuffled[0]] as CurrentlyOptions];
const itemOne = one.items[Math.floor(Math.random() * one.items.length)];
const two = currently[currentlyKeys[shuffled[1]] as CurrentlyOptions];
const itemTwo = two.items[Math.floor(Math.random() * two.items.length)];
const three = currently[currentlyKeys[shuffled[2]] as CurrentlyOptions];
const itemThree = three.items[Math.floor(Math.random() * three.items.length)];
---

<section id="currently" class="flex flex-col self-center items-center gap-6">
  <h2 class="text-5xl md:text-6xl text-primary text-center">Currently</h2>
  <p class="text-xl md:text-2xl text-foreground/60 mb-4 md:mb-8 text-center">
    Some of the things I'm enjoying these days and always down to chat about!
  </p>
  <div class="w-5/6 md:w-3/5 lg:w-3/5 flex flex-col items-center gap-6">
    <CurrentlyCard client:load heading={one.heading} item={itemOne} iconType={itemOne.iconType} className="scroll-fade-in" />
    <CurrentlyCard client:load heading={two.heading} item={itemTwo} iconType={itemTwo.iconType} className="scroll-fade-in" />
    <CurrentlyCard client:load heading={three.heading} item={itemThree} iconType={itemThree.iconType} className="scroll-fade-in" />
  </div>
</section>
